<script id="t-badcharge" type="text/html">
    <div class="stripe-checkout">
        <div class="h2">Fat fingers?  Cancelled credit card?</div>
        <div class="h3">For some reason, the credit card charge didn't go through.</div>

        <br>
        <form action="/#/stripe" method="post">
            <input type="hidden" name="totalamt" data-bind="value: data.totalPrice" />
            <button id="checkout" class="h3">Let's try one more time: CHECKOUT</button>
        </form>
    </div>
</script>