<script id="t-checkout" type="text/html">
    <h1>You've got a great bag of books there.</h1>

    <div class="product-component">
        <div class="row">   <!-- CHANGE THIS TO cart.products() for live version.  IS THIS THE PROPER NOMENCLATURE FOR CART.PRODUCTS()???-->
            <table>
                <thead>
                    <tr><th></th><th></th><th>Price</th><th>Remove</th></tr>
                </thead>
                <tbody data-bind="foreach: { data: data.testcart, as: 'item' }">
                    <tr>
                        <td><a data-bind ="href: item.detailsLink"><img data-bind="src: item.thumbnailLink, attr: { alt: item.thumbnailAlt }" height="50"></img></adata-bind></td>
                        <td><a data-bind="href: item.detailsLink"><strong data-bind="text: item.title"></strong></a></td>
                        <td data-bind="currency: item.price"></td>
                        <td align="center"><a data-bind="click: function() { alert('item is now removed-ish'); cart.removeCartItem(item); }"><strong>X</strong></a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" align="right"><b>Cart total: <b data-bind="currency: data.total"></b></b></td><td></td>
                    </tr>
                </tfoot>
            </table>    
        </div>

    </div>

    <button data-bind ="click: function() { alert('initiate purchase here'); cart.checkout(); }">make them mine: CHECKOUT</button>


    commit
    unit tests
    commit
    get total working
    update trello

</script>