<script id="t-checkout" type="text/html">   
    <div class="product-component">
        <h1>You've got a great bag of books there.</h1>
        <br />
        <div class="">
            <!-- CHANGE THIS TO cart.products() for live version.  IS THIS THE PROPER NOMENCLATURE FOR CART.PRODUCTS()???-->
            <table class="checkout-table">
                <thead style="font-size:16px">
                    <tr><th>Cart Items</th><th></th><th>Price</th><th>Remove</th></tr>
                </thead>
                <tbody data-bind="foreach: { data: data.testcart, as: 'item' }" class="checkout-body">
                    <tr class="checkout-row">
                        <td data-bind="src: item.thumbnailLink, attr: { alt: item.thumbnailAlt }, href: item.detailsLink">Image here</td>
                        <td><strong data-bind="text: item.title, href: item.detailsLink"></strong></td>
                        <td data-bind="currency: item.price" class="row-price"></td>
                        <td data-bind="click: function() { alert('item is now removed-ish'); cart.removeCartItem(item); }">
                            <a href="#" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span> remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    better table formatting, make the X an obvious link to remove item
    TOTAL COST OF ITEMS IN CART
    BUY BUTTON

</script>