<script id="t-checkout" type="text/html">
    <div class="product-component">
        <h1>You've got a great bag of books there.</h1>
        <br />
        <div class="">
            <!-- CHANGE THIS TO cart.products() for live version.  IS THIS THE PROPER NOMENCLATURE FOR CART.PRODUCTS()???-->
            <table class="checkout-table">
                <thead style="font-size:16px">
                    <tr><th>Cart Items</th><th></th><th>Price</th><th>Remove</th></tr>
                </thead>
                <tbody data-bind="foreach: { data: data.testcart, as: 'item' }" class="checkout-body">
                    <tr class="checkout-row">
                        <td><a data-bind="href: item.detailsLink"><img data-bind="src: item.thumbnailLink, attr: { alt: item.thumbnailAlt }" height="50"></img></a></td>
                        <td><a data-bind="href: item.detailsLink"><strong data-bind="text: item.title" class="row-summary"></strong></a></td>
                        <td data-bind="currency: item.price" class="row-price"></td>

                        <td>
                            <form action="/#/cart/delete" method="get">
                                <button class="btn btn-xs btn-danger">Remove</button>
                                <input type="hidden" name="q" data-bind="value: item.uid" />
                            </form>

                        </td>
                    </tr>
                </tbody>
                <tr style="height:20px"></tr>
                <tr>
                    <th colspan="3" class="checkout-total">Total ( <span data-bind="text: data.totalItem"></span> items ) :&nbsp;</th>
                    <th data-bind="currency: data.totalPrice" class="checkout-price"></th>
                </tr>
            </table>
        </div>


        <form action="/#/stripe" method="get">
            <button id="checkout" class="buy-now">make them mine: CHECKOUT</button>
        </form>

    </div>

</script>